DATABASE_URL=postgresql+psycopg://ithaka:ithaka@db:5432/ithaka

SECRET_KEY= 9c48a3e68369ac17b7210cf4735e5d448d06e2234477e30acbb357fa5aa8c62a

POSTGRES_USER=ithaka
POSTGRES_PASSWORD=ithaka
POSTGRES_DB=ithaka
