DATABASE_URL=postgresql+psycopg://ithaka:ithaka@db:5432/ithaka

SECRET_KEY=

POSTGRES_USER=ithaka
POSTGRES_PASSWORD=ithaka
POSTGRES_DB=ithaka
#CORS_ORIGINS=http://localhost:5173
CORS_ORIGINS=https://ithaka-frontend.reto-ucu.net
